# ===== Common Erlang Tools =====
*.coverdata
*.crashdump
*.eqc
*.log
*_plt
.cache/
.eqc-info
.eqc
.erlang.cookie
.erlang.mk
.eunit/
.pulse/
.qc/
.rebar/
.rebar3/
_build/
_checkouts/
_deps/
_test/
ebin/
log/
logs/
rebar.lock

# ===== Common Development Tools =====
*.bak
*.dump
*.iml
*.orig
*.plt
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmp
*~
.DS_Store
.concrete/
.idea/
.project
.settings/
.tm_properties
.vscode/
/*.txt
erln8.config
tmp/

# ===== Project-specific Elements =====

data/
deps/
dialyzer_unhandled_warnings
dialyzer_warnings
doc/
include/*_pb.hrl
nonode@nohost
priv/
test/*.beam
