{minimum_otp_vsn, "22"}.

{erl_first_files, [
    "src/gen_nb_server.erl",
    "src/riak_core_gen_server.erl",
    "src/riak_core_stat_xform"
]}.

{cover_enabled, true}.

{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{edoc_opts, [{preprocess, true}]}.

{eunit_opts, [verbose]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.

{plugins, [
    {eqc_rebar,
        {git, "https://github.com/Quviq/eqc-rebar",
            {branch, "master"}}}
]}.

{deps, [
    {poolboy,
        {git, "https://github.com/basho/poolboy.git",
            {branch, "develop-3.2"}}},
    {riak_sysmon,
        {git, "https://github.com/basho/riak_sysmon.git",
            {branch, "develop-3.2"}}},
    {clique,
        {git, "https://github.com/basho/clique.git",
            {branch, "develop-3.2"}}},
    {eleveldb,
        {git, "https://github.com/basho/eleveldb.git",
            {branch, "develop-3.2"}}},
    {riak_ensemble,
        {git, "https://github.com/basho/riak_ensemble.git",
            {branch, "develop-3.2"}}},
    {pbkdf2,
        {git, "https://github.com/basho/erlang-pbkdf2.git",
            {branch, "develop-3.2"}}},
    {cluster_info,
        {git, "https://github.com/basho/cluster_info.git",
            {branch, "develop-3.2"}}},
    {exometer_core,
        {git, "https://github.com/basho/exometer_core.git",
            {branch, "develop-3.2"}}},
    {basho_stats,
        {git, "https://github.com/basho/basho_stats.git",
            {branch, "develop-3.2"}}}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{profiles, [
    {test, [
        {deps, [
            {meck,
                {git, "https://github.com/basho/meck.git",
                    {branch, "develop-3.2"}}}
        ]},
        {erl_opts, [nowarn_export_all]}
    ]},
    {eqc, [
        {deps, [
            {meck,
                {git, "https://github.com/basho/meck.git",
                    {branch, "develop-3.2"}}}
        ]},
        {erl_opts, [{d, 'EQC'}, nowarn_export_all]}
    ]},
    {gha, [
        {erl_opts, [{d, 'GITHUBEXCLUDE'}]}
    ]}
]}.
