%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2007-2017 Basho Technologies, Inc.
%% Copyright (c) 2019-2025 Workday, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------
{minimum_otp_vsn, "24.0"}.

{erl_first_files, [
    "src/gen_nb_server.erl",
    "src/riak_core_gen_server.erl",
    "src/riak_core_stat_xform.erl"
]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors, debug_info]}.

{edoc_opts, [
    {includes, ["include"]},
    {preprocess, true},
    {todo, true}
]}.

{eunit_opts, [verbose]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{deps, [
  {poolboy, {git, "https://github.com/OpenRiak/poolboy.git", {branch, "openriak-3.4"}}},
  {riak_sysmon, {git, "https://github.com/OpenRiak/riak_sysmon.git", {branch, "openriak-3.4"}}},
  {clique, {git, "https://github.com/OpenRiak/clique.git", {branch, "openriak-3.4"}}},
  {eleveldb, {git, "https://github.com/OpenRiak/eleveldb.git", {branch, "openriak-3.4"}}},
  {riak_ensemble, {git, "https://github.com/OpenRiak/riak_ensemble", {branch, "openriak-3.4"}}},
  {pbkdf2, {git, "https://github.com/OpenRiak/erlang-pbkdf2.git", {branch, "openriak-3.4"}}},
  {cluster_info, {git, "https://github.com/OpenRiak/cluster_info.git", {branch, "openriak-3.4"}}},
  {exometer_core, {git, "https://github.com/OpenRiak/exometer_core.git", {branch, "openriak-3.4"}}},
  {basho_stats, {git, "https://github.com/OpenRiak/basho_stats.git", {branch, "openriak-3.4"}}}
]}.

{dialyzer, [
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [{deps, [{meck, {git, "https://github.com/OpenRiak/meck.git", {branch, "openriak-3.4"}}}]}, {erl_opts, [nowarn_export_all]}]},
    {eqc,  [{deps, [{meck, {git, "https://github.com/OpenRiak/meck.git", {branch, "openriak-3.4"}}}]}, {erl_opts, [{d, 'EQC'}, nowarn_export_all]}]},
    {gha,  [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.
