{minimum_otp_vsn, "24.0"}.

{erl_first_files, ["src/gen_nb_server.erl", "src/riak_core_gen_server.erl",
		   "src/riak_core_stat_xform"]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors, debug_info]}.

{edoc_opts, [{preprocess, true}]}.

{eunit_opts, [verbose]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{deps, [
  {poolboy, {git, "https://github.com/OpenRiak/poolboy.git", {branch, "openriak-4.0"}}},
  {riak_sysmon, {git, "https://github.com/OpenRiak/riak_sysmon.git", {branch, "openriak-3.4"}}},
  {clique, {git, "https://github.com/OpenRiak/clique.git", {branch, "openriak-3.4"}}},
  {eleveldb, {git, "https://github.com/OpenRiak/eleveldb.git", {branch, "openriak-3.4"}}},
  {pbkdf2, {git, "https://github.com/OpenRiak/erlang-pbkdf2.git", {branch, "openriak-3.4"}}},
  {cluster_info, {git, "https://github.com/OpenRiak/cluster_info.git", {branch, "openriak-3.4"}}},
  {exometer_core, {git, "https://github.com/OpenRiak/exometer_core.git", {branch, "openriak-3.4"}}},
  {basho_stats, {git, "https://github.com/OpenRiak/basho_stats.git", {branch, "openriak-3.4"}}}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{profiles, [
    {test, [{deps, [{meck, {git, "https://github.com/OpenRiak/meck.git", {branch, "openriak-3.4"}}}]}, {erl_opts, [nowarn_export_all]}]},
    {eqc,  [{deps, [{meck, {git, "https://github.com/OpenRiak/meck.git", {branch, "openriak-3.4"}}}]}, {erl_opts, [{d, 'EQC'}, nowarn_export_all]}]},
    {gha,  [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.
